{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/account-style.css')}}">
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}


    <div class="heading">
        <h4>ACCOUNT INFORMATION</h4>
    </div>
    
    {% if is_granted("ROLE_ADMIN") %}
        <div class="btn-show">
            <div class="add-members">
                <a href="addingaccount"><button class="add"> Add new</button></a>
            </div>
        </div>
    {% endif %}
    
                
    


    <div class="cover"> 
        <div class="pr">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputId" class="form-label">Member ID</label>
                    <input type="email" class="form-control" id="inputId" readonly>
                    {# {{ form_widget(formname, {'attr':{'type':'email'}, {'class':'form-control'}, {'id':'inputId'} {'readonly'} }) }} #}
                </div>
                <div class="col-md-6">
                    <label for="inputName" class="form-label">Member Name</label>
                    <input type="text" class="form-control" id="inputName" readonly>
                    {# {{ form_widget(formname, {'attr':{'type':'text'}, {'class':'form-control'}, {'id':'inputName'}, {'readonly'} }) }} #}
                </div>
                <div class="col-6">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Ex: datdmgcc21047@fpt.ed.vn">
                    {# {{ form_widget(formname, {'attr':{'type':'email'}, {'class':'form-control'}, {'id':'inputEmail'}, {'placeholder':'Ex: datdmgcc21047@fpt.ed.vn'} }) }} #}
                </div>
                <div class="col-6">
                    <label for="inputDate" class="form-label">Date of Birth</label>
                    <input type="date" class="form-control" id="inputDate">
                    {# {{ form_widget(formname, {'attr':{'type':'date'}, {'class':'form-control'}, {'id':'inputDate'} }) }} #}
                </div>
                <div class="col-6">
                    <label for="inputMajor" class="form-label">Major</label>
                    <select id="inputMajor" class="form-select">
                        <option selected>Choose...</option>
                        <option value="0">SE - Computing</option>
                        <option value="1">BA - Event</option>
                        <option value="2">BA - Business</option>
                        <option value="3">BA - Marketing</option>
                        <option value="4">GD - Graphic Design</option>
                        <option value="5">PDP - Student Service</option>
                    </select>
                </div>
                <!-- Check -->
                <div class="check col-md-6">
                    Gender
                    <div class="check-box">
                        <div class="form-check col-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            {# {{ form_widget(formname, {'attr':{'type':'radio'}, {'class':'form-check-input'}, {'id':'flexRadioDefault1'}, {'name':'flexRadioDefault'} }) }} #}
                            <label class="form-check-label" for="flexRadioDefault1">
                                Male
                            </label>
                        </div>
                        <div class="form-check col-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            {# {{ form_widget(formname, {'attr':{'type':'radio'}, {'class':'form-check-input'}, {'id':'flexRadioDefault2'}, {'name':'flexRadioDefault'} }) }} #}

                            <label class="form-check-label" for="flexRadioDefault2">
                                Female
                            </label>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="btn btn-primary btn-lg" style="width: 50%;">Confirm</button>
                </div>
                <a href="../html/password-change.html" style="text-decoration: none; text-align: center; color: #FF7000;">
                    <h6>Do you want to change your password?</h6>
                </a>
            </form>
        </div>
    </div>


    {% include 'footer.html.twig' %}
{% endblock %}