{% extends 'base.html.twig' %}

{% block title %}Clubs Management{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/activities-style.css')}}">
    <link rel="stylesheet" href="{{asset('styles/footer.css')}}">
{% endblock %}
    
{% block body %}
        {% include 'header.html.twig' %}



    <div class="heading">
        <h2>Exhibition Activities</h2>
    </div>
    <div class="btn-show">
        <div class="add-members">
            {% if is_granted("ROLE_ADMIN") %}
                <a href="adding-activities"><button class="add"> Add new</button></a>
            {% endif %}

        </div>
    </div>
    
        <div class="container-fluid">
            <div class="row g-4">
            {% for ac in activity %}
                <div class="col-md-6 col-12">
                    <div class="p-3 border rounded-4">
                        <div class="navbar-tools d-flex">
                            <div class="tools flex-grow-1">
                                <div class="circle"><span class="red box"></span></div>
                                <div class="circle"><span class="yellow box"></span></div>
                                <div class="circle"><span class="green box"></span></div>
                            </div>
                            {% if is_granted("ROLE_ADMIN") %}
                            <div class="small-nav">
                                <div class="icons"><a href="editActivities/{{ac.id}}"><i class="bi bi-pencil-square"></i></i></a></div>
                                <div class="icons"><a href="deleteActivities/{{ac.id}}"><i class="bi bi-x-square"></i></i></a></div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="card__content">
                            <div class="card-left pe-4">
                            {# Image #}
                                {# <img src="../images/111.jpg" alt=""> #}
                                {% set img = ac.Image %}
                                {% if img %}
                                    <img src="{{asset('images/'~img) }}">
                                {% else %}
                                    <img src="../images/111.jpg">
                                {% endif %}
                            </div>
                            <div class="card-right">
                                <div class="article">
                                    <a style="text-decoration:none" href=""><span>{{ac.Name}}</span></a>
                                    <br><br>
                                </div>
                                <div class="title">
                                    <span>Date: </span>{{ac.StartDate|date('d-m-Y')}}
                                    <br>
                                    <span>Time: </span>{{ac.StartTime|date('H:i')}} - {{ac.EndTime|date('H:i')}}
                                    <br>
                                    <span>Organizer: </span>{{ac.clubName}}
                                    <br>
                                    <span>Score: </span>{{ac.Score}}
                                    
                                    {% if 'now'|date('c') < ac.StartDate|date('c')%}   
                                        <br>
                                            <span style="color:#FFC93C;">Upcoming event...</span>
                                        <br>
                                    {% elseif 'now'|date('H:i') >= ac.StartTime|date('H:i') and 'now'|date('H:i') <= ac.EndTime|date('H:i') and 'now'|date('d-m-Y') == ac.StartDate|date('d-m-Y')%}
                                        <br>
                                            <span style="color:green;">Event is taking place</span>
                                        <br>
                                    {% else %}
                                        <br>
                                            <span style="color:red;">Event ended</span>
                                        <br>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


        {% include 'footer.html.twig' %}
{% endblock %}


