{% extends 'base.html.twig' %}
{% block title %}Adding Account{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/adding-account-style.css')}}">
    
{% endblock %}

{% block body %}


{% include 'header.html.twig' %}


<body>
    <div class="heading">
        <h4>ADD ACCOUNTS</h4>
    </div>
    <div class="cover"> 
        <div class="pr">
            {# <form class="row g-3"> #}
            <div class="row g-3">
                {{ form_start(form, {'attr':{'class':'row g-3'} }) }}
                <div class="col-md-3">
                    <label for="inputId" class="form-label">Member ID</label>
                    {# <input type="email" class="form-control" id="inputId"> #}
                    {{ form_widget(form.studenId, {'attr':{'class':'form-label'} }) }}
                    {{ form_errors(form.studenId) }}
                </div>
                <div class="col-md-3">
                    <label for="inputName" class="form-label">Member Name</label>
                    {# <input type="text" class="form-control" id="inputName"> #}
                    {{ form_widget(form.studenName, {'attr':{'class':'form-label'} }) }}
                </div>                
                <div class="col-md-3">
                    <label for="inputDate" class="form-label">Date of Birth</label>
                    {# <input type="date" class="form-control" id="inputDate"> #}
                    {{ form_widget(form.dateOfBirth, {'attr':{'class':'form-label'} }) }}
                </div>                
                <div class="col-md-3">
                    <label for="inputMajor" class="form-label">Major</label>
                    {{ form_widget(form.major, {'attr':{'class':'form-label'} }) }}
                </div>
                <div class="col-md-6">
                    <label for="inputEmail" class="form-label">Email</label>
                    {# <input type="email" class="form-control" id="inputEmail" placeholder="Ex: datdmgcc21047@fpt.ed.vn"> #}
                    {{ form_widget(form.email, {'attr':{'class':'form-label'} }) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="col-md-6">
                    <label for="inputPass" class="form-label">Password</label>
                    {# <input type="password" class="form-control" id="inputPass"> #}
                    {{ form_widget(form.password, {'attr':{'class':'form-control'} }) }}
                </div>
                <div class="col-md-6 role-combobox">
                    <label for="" class="formbold-form-label"> Role: </label>
                    <select name="role" id="role" class="role">
                        <option value="admin">Admin</option>
                        <option value="user">Members</option>
                    </select>
                    {# {{ form_widget(form.roles, {'attr':{'class':'form-control'} }) }} #}
                    <br>
                </div>

                <!-- Check -->
                <div class="col-md-6">
                    <label for="" class="formbold-form-label"> Gender: </label>
                    <br>
                    {{ form_widget(form.gender, {'attr':{'class':'check'} }) }}
                </div>
                
                <div class="button">{{ form_widget(form.submit, {'attr':{'class':'button'} }) }}</div>
                {# <span style="color:green;">{{noti}}</span> #}
            {# </form> #}
            {{ form_end(form) }}
            </div>
        </div>
    </div>
</body>

        {% include 'footer.html.twig' %}


{% endblock %}