{% extends 'base.html.twig' %}

{% block title %}Add Activities{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/adding-activities-style.css')}}">
    <link rel="stylesheet" href="{{asset('styles/footer.css')}}">
{% endblock %}

{% block body %}
    <div class="head_logo">
        <img src="../images/2022-Greenwich-Eng.png" alt="Logo">
    </div>
<nav class="navbar navbar-expand-lg justify-content-center" style="background-color: #2C74B3;">
    <a id="Logo" href="#" class="navbar-brand">
        Greenwich Clubs
        <!-- <img src="../ASM2/Images/ESC Logo (1)-02.png" alt="" style="height: 50px; width: 50px;"> -->
    </a>
    <style>
        *{
            font-family:'Quicksand', sans-serif !important;
        }
        body{
            font-weight: 500 !important;
        }
        #Logo.navbar-brand{
            padding-left: 20px;
        }
        nav.navbar{
            font-weight: 600;
        }
    </style>
    <button style="color:#000" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
        <span class="bi bi-list"></span>
    </button>
        <style>
            .dropdown:hover .dropdown-menu{
                display: block;
            }
            .navbar-toggler{
                color: #000;
            }
        </style>

<div class="collapse navbar-collapse justify-content-center" id="navbarMain">
    <div class="navbar-nav">
        <a class="nav-link active" href="homepage">Home</a>
        <a href="clubs" class="nav-link" style="color: #ffffff;">Clubs</a>
        <a href="members" class="nav-link" style="color: #ffffff;">Members</a>
        <a class="nav-link" href="check-in" style="color: #ffffff;">Check-in</a>
        <a class="nav-link" href="attendance" style="color: #ffffff;">Attendance</a>
        <a class="nav-link" href="activities"style="color: #ffffff;">Activities</a>
        <a class="nav-link" href="account"style="color: #ffffff;">Account</a>
    </div>
</div>
    <a href="#" class="nav-item nav-link">Welcome ...</a>
    <a href="index" class="nav-item nav-link">Logout</a>
</nav>



    <div class="title">
        ADD ACTIVITIES
    </div>
    <div class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">
            <form action="" method="POST">
                <div class="formbold-input-flex">
                <div>
                    <label for="" class="formbold-form-label"> Event name: </label>
                    <input type="text" name="" id="" placeholder="Ex: Create your future" class="formbold-form-input"/>
                    {# {{ form_widget(formname, {'attr':{'type':'text'}, {'class':'formbold-form-input'}, {'id':''}, {'placeholder':'Ex: GCC210147'}, {'name':''} }) }} #}
                </div>
                <div>
                    <label for="" class="formbold-form-label"> Organizer: </label>
                    {# <!-- <input type="text" name="memberName" id="lastname" placeholder="Ex Nguyễn Văn A" class="formbold-form-input"/> --> #}
                        <select class="form-select" id="" style="height: 52px;">
                            <option selected value="1">Choose one club</option>
                            <option value="1">English Speaking</option>
                            <option value="2">Media</option>
                            <option value="3">Book</option>
                        </select>
                </div>
                </div>

                <div class="formbold-input-flex">
                <div>
                    <label for="" class="formbold-form-label"> Time start: </label>
                    <input type="time" name="" id="" placeholder=""class="formbold-form-input"/>
                    {# {{ form_widget(formname, {'attr':{'type':'time'}, {'class':'formbold-form-input'}, {'id':''}, {'placeholder':''}, {'name':''} }) }} #}
                </div>
                <div>
                    <label for="phone" class="formbold-form-label"> Time end: </label>
                    <input type="time" name="" id="" placeholder="" class="formbold-form-input"/>
                    {# {{ form_widget(formname, {'attr':{'type':'time'}, {'class':'formbold-form-input'}, {'id':''}, {'placeholder':''}, {'name':''} }) }} #}
                </div>
            </div>

            <div class="formbold-input-flex">
                <div>
                    <label for="" class="formbold-form-label"> Date: </label>
                    <input type="date" name="" id="" placeholder=""class="formbold-form-input"/>
                    {# {{ form_widget(formname, {'attr':{'type':'date'}, {'class':'formbold-form-input'}, {'id':''}, {'placeholder':''}, {'name':''} }) }} #}
                </div>
                <div>
                    <label for="" class="formbold-form-label"> Score: </label>
                    <input type="number" min="1" max="20" name="" id="" placeholder="Ex: 7" class="formbold-form-input"/>
                    {# {{ form_widget(formname, {'attr':{'type':'number'}, {'class':'formbold-form-input'},{'min':'1'}, {'max':'20'}, {'id':''}, {'placeholder':'Ex: 7'}, {'name':''} }) }} #}
                </div>
            </div> 
            <div class="formbold-form-label">
                <label for="image-vertical">Poster: </label>
                <input type="file" name="Pro_image" id="Pro_image" class="form-control" value="">
                {# {{ form_widget(formname, {'attr':{'type':'file'}, {'class':'form-control'}, {'id':'Pro_image'}, {'value':''}, {'name':'Pro_image'} }) }} #}
            </div>    
            <button class="formbold-btn">
                Submit
            </button>
        </form>
        </div>
    </div>



    <footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
        <div class="row">
            <h4 class="title text-uppercase">Can Tho Campus</h4>
            <div class="col-md-5 col-sm-6">
                <!--Column1-->
                <div class="footer-pad">
                    <h4 class="text-uppercase">Greenwich Vietnam</h4>
                    <p><i class="bi bi-telephone-fill"></i><a> Phone: 0907 297 396</a></p>
                    <p><i class="bi bi-facebook"></i><a> Facebook: Greenwich Vietnam</a></p>
                    <p><i class="bi bi-telephone-fill"></i><a> Website: greenwich.edu.vn</a></p>
                    <p><i class="bi bi-geo-alt-fill"></i><a> Address: 160 30/4 Street, An Phu Ward, Ninh Kieu District, Cantho City, Viet Nam</a></p>
                </div>
            </div>
                <div class="col-md-3 col-sm-6">
                <!--Column1-->
                    <div class="footer-pad">
                        <h4 class="text-uppercase">Contact information</h4>
                        <p>Email Admin: dangph5@fe.edu.vn</p>
                        <p>Phone Admin: 0336337022</p>
                        <p>Email Web Creater: datdmgcc210147</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                <!--Column1-->
                    <div class="footer-pad">
                        <h4 class="text-uppercase">About us</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, dignissimos pariatur iste qui tenetur tempore voluptatibus neque architecto, modi, minus id nulla. A eos dignissimos eveniet aliquam nam! Possimus, dignissimos?</p>
                    </div>
                </div>
        </div>
                <div class="row">
                    <div class="col-md-12 copy">
                    <p class="text-center">&copy; Copyright - Greenwich Vietnam | Can Tho Campus | All rights reserved.</p>
                    </div>
                </div>
        </div>
    </div>
</footer>
{% endblock %}


