{% extends 'base.html.twig' %}

{% block title %}Add Activities{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/adding-activities-style.css')}}">
{% endblock %}

{% block body %}
   
        {% include 'header.html.twig' %}



    <div class="title-head">
        ADD ACTIVITIES
    </div>
    <div class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">
            {# <form action="" method="POST"> #}
            {{ form_start(form) }}
                <div class="formbold-input-flex">
                <div>
                    <label for="" class="formbold-form-label"> Event name: </label>
                    {# <input type="text" name="" id="" placeholder="Ex: GCC210147" class="formbold-form-input"/> #}
                    {{ form_widget(form.Name, {'attr':{'class':'formbold-form-input'} }) }}
                    {# <input type="text" name="" id="" placeholder="Ex: Create your future" class="formbold-form-input"/> #}
                    {# {{ form_widget(formname, {'attr':{'type':'text'}, {'class':'formbold-form-input'}, {'id':''}, {'placeholder':'Ex: GCC210147'}, {'name':''} }) }} #}
                </div>
                <div>
                    <label for="" class="formbold-form-label"> Club: </label>
                    {# <!-- <input type="text" name="memberName" id="lastname" placeholder="Ex Nguyễn Văn A" class="formbold-form-input"/> --> #}
                    {{ form_widget(form.club, {'attr':{'class':'formbold-form-input'} }) }}
                        {# <select class="form-select" id="" style="height: 52px;">
                            <option selected value="">Choose one club</option>
                            <option value="1">English Speaking</option>
                            <option value="2">Media</option>
                            <option value="3">Book</option>
                        </select> #}
                </div>
                </div>

                <div class="formbold-input-flex">
                <div>
                    <label for="" class="formbold-form-label"> Time start: </label>
                    {# <input type="time" name="" id="" placeholder=""class="formbold-form-input"/> #}
                    {{ form_widget(form.StartTime, {'attr':{'class':'formbold-form-input'} }) }}
                </div>
                <div>
                    <label for="phone" class="formbold-form-label"> Time end: </label>
                    {# <input type="time" name="" id="" placeholder="" class="formbold-form-input"/> #}
                    {{ form_widget(form.EndTime, {'attr':{'class':'formbold-form-input'} }) }}
                </div>
            </div>

            <div class="formbold-input-flex">
                <div>
                    <label for="" class="formbold-form-label"> Date: </label>
                    {# <input type="date" name="" id="" placeholder=""class="formbold-form-input"/> #}
                    {{ form_widget(form.StartDate, {'attr':{'class':'formbold-form-input'} }) }}
                </div>
                <div>
                    <label for="" class="formbold-form-label"> Score: </label>
                    {# <input type="number" min="1" max="20" name="" id="" placeholder="Ex: 7" class="formbold-form-input"/> #}
                    {{ form_widget(form.Score, {'attr':{'class':'formbold-form-input'} }) }}
                </div>
            </div> 
            <div class="formbold-form-label">
                <label for="image-vertical">Poster: </label>
                {# <input type="file" name="Pro_image" id="Pro_image" class="form-control" value=""> #}
                {{ form_widget(form.file, {'attr':{'class':'form-control'} }) }}
                {{ form_widget(form.Image, {'attr':{'class':'form-control'} }) }}
                {% set img = form.Image.vars.value %}
                {# {% if img %}
                    <img src="{{asset('images/'~img) }}">
                    {% else %}
                    <img src="../images/111.jpg">
                {% endif %} #}
            </div>
            <div class="formbold-btn">    
            {# <button class="formbold-btn">Submit </button> #}
                {{ form_widget(form.Submit, {'attr':{'class':'formbold-btn'} }) }}
            </div>
        {# </form> #}
        {{ form_end(form) }}
        </div>
    </div>


        {% include 'footer.html.twig' %}
{% endblock %}


