{% extends 'base.html.twig' %}

{% block title %}Attendance{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/attendance-style.css')}}">
{% endblock %}

{% block body %}
        {% include 'header.html.twig' %}

    <div class="heading">
        <h4>ATTENDANCE</h4>
    </div>

    <div class="border-table">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                <tr class="align-middle">
                    <th scope="col">Index</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Event Name</th>
                    <th scope="col">Time in</th>
                    <th scope="col">Time out</th>
                    <th scope="col">Score</th>
                </tr>
                </thead>
                {% for show in showAttendence %}
                    
                
                <tbody class="table-striped">
                <tr class="align-middle">
                    <th scope="row">{{show.id}}</th>
                    <td>{{show.studenName}}</td>
                    <td>{{show.StartDate|date('d-m-Y')}}</td>
                    <td>{{show.Name}}</td>
                    <td>{{show.StartTime|date('H:i')}}</td>
                    <td>{{show.EndTime|date('H:i')}}</td>
                    <td>{{show.Score}}</td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

            {% include 'footer.html.twig' %}
            
{% endblock %}

