{% extends 'base.html.twig' %}

{% block title %}Check-in{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/check-in-style.css')}}">
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="heading">
        <h4>CHECK-IN ACTIVITIES</h4>
        
    </div>
    <div class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">
        {{ form_start(form) }}
                <div class="formbold-input-flex">
                <div>
                    <label for="firstname" class="formbold-form-label"> Student ID: </label>
                    <input type="text" name="studentId" id="" placeholder="Ex: GCC210147" class="formbold-form-input"/>
                    <h7 style="color:red;">{{error ?? ""}}</h7>
                </div>
                <div>
                    <label for="lastname" class="formbold-form-label"> Event/Activities: </label>
                    {{ form_widget(form.activities, {'attr':{'class':'formbold-form-input'} }) }}
                </div> 
                {{ form_widget(form.Add, {'attr':{'class':''} }) }}
            </div>

            {{ form_end(form) }}
        </div>
        </div>
    <div class="border-table">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                <tr class="align-middle">
                    <th scope="col">Index</th>
                    <th scope="col" style="width:400px">Event/Activities</th>
                    <th scope="col">Date</th>
                    <th scope="col">Student ID</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Time in</th>
                    <th scope="col">Time out</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                {% for show in showCheck %}
                <tbody class="table-striped">
                <tr class="align-middle">
                    
                
                    <th scope="row">{{show.id}}</th>
                    <th>{{show.Name}}</th>
                    <td>{{show.StartDate|date('d-m-Y')}}</td>
                    <td>{{show.studenId}}</td>
                    <td>{{show.studenName}}</td>
                    <td>{{show.StartTime|date('H:i')}}</td>
                    <td>{{show.EndTime|date('H:i')}}</td>
                    <td>
                        <a href="deleteCheckIn/{{show.id}}"><i style="color: #439a97d0;" class="bi bi-x-square"></i></a>
                    </td>
                
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
        

    {% include 'footer.html.twig' %}
{% endblock %}


