{% extends 'base.html.twig' %}

{% block title %}Clubs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/clubs-style.css')}}">
{% endblock %}

{% block body %}
    
    {% include 'header.html.twig' %}



    <div class="heading">
        <h4>CLUB MANAGER</h4>
    </div>

    <div class="btn-show">
        <div class="add-members">
        {% if is_granted("ROLE_ADMIN") %}
            <a href="adding-clubs"><button> Add new</button></a>
        {% endif %}
        </div>  
    </div>

    <div class="border-table">
        <table class="table table-hover align-middle">
            <thead>
            <tr class="align-middle">
                <th scope="col">Index</th>
                <th scope="col">Club ID</th>
                <th scope="col">Club Name</th>
                <th scope="col">Number of members</th>
                <th scope="col">Leader</th>  
                {% if is_granted("ROLE_ADMIN") %}
                <th scope="col">Action</th>
                {% endif %}    
            </tr>
            </thead>
            {% for cl in club %}

            <tbody class="table-striped">
            <tr class="align-middle">

                <th scope="row">{{cl.id}}</th>
                <td>{{cl.clubId}}</td>
                <td>{{cl.clubName}}</td>
                <td>{{cl.numberOfMembers}}</td>
                <td>{{cl.leaderName}}</td>
                {% if is_granted("ROLE_ADMIN") %}
                
                <td>
                    <a href="editClub/{{cl.id}}"><i class="bi bi-pencil-square"></i></a>
                    <a href="deleteClub/{{cl.id}}"><i class="bi bi-x-square"></i></a>
                </td>
                {% endif %} 
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>


        {% include 'footer.html.twig' %}
{% endblock %}


