{% extends 'base.html.twig' %}

{% block title %}Clubs Management{% endblock %}



{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('styles/index-style.css')}}">
{% endblock %}


{% block body %}

  <div>
    <div class="login-box">
        <div class="head-form">
            <div class="logo">
                <img src="../images/2022-Greenwich-Eng.png" alt="Logo">
            </div>
            <h2>WELCOME TO GREENWICH VIETNAM</h2>
        </div>

        <form method="post">
        {# {{ form_start(index_form) }} #}
        {% if error %}
          <div class="alert alert-danger">{{error.messageKey|trans(error.messsageData, 'security')}}</div>
        {% endif %}

          <div class="user-box">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            {# {{ form_widget(index_form.username, {'attr':{'type':'text'}, {'require':'true'} }) }} #}
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            {# {{ form_widget(index_form.password, {'attr':{'type':'password'}, {'require':'true'} }) }} #}
            <label>Password</label>
          </div>
          {# <a href="homepage">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
          </a> #}
          <button class="btn" type="submit">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Login
          </button>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          {# {{ form_widget(index_form.login) }} #}
          {# {{ form_end(index_form) }} #}
        </form>
    </div>
  </div>
{% endblock %}
