{% extends 'base.html.twig' %}

{% block title %}Members{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/members-style.css')}}">
{% endblock %}

{% block body %}

        {% include 'header.html.twig' %}


    <div class="heading">
        <h4>Members Manager</h4>
    </div>
    <div class="btn-show">
        <div class="add-members">
            <a href="checkMember"><button class="add"> Add new</button></a>
        </div>
        <div class="search">
            <form class="example1" action="{{path('Search')}}">
            {# {{ form_start(formname, {'attr': {'class':'example1'}, {'action':'#'} }) }} #}
                <input type="text" class="searchTerm" placeholder="Search..." name="search">
                <button type="submit" class="searchButton"><i class="bi bi-search" name="btnSearch"></i></button>
                {# <a href="/search"><button class="" <i class="bi bi-search" name="btnSearch"></i>> Search </button></a> #}
            </form>
            {# {{ form_end(formname) }} #}
        </div>
    </div>
    <div class="border-table">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                <tr class="align-middle">
                    <th scope="col">Index</th>
                    <th scope="col">Image</th>
                    <th scope="col">Member ID</th>
                    <th scope="col">Member Name</th>
                    <th scope="col">Club Name</th>
                    <th scope="col">Club ID</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                {% for show in showMember %}
    
                <tbody class="table-striped">
                <tr class="align-middle">
                    <th scope="row">{{show.id}}</th>
                    <td>
                    {% set img = show.image %}
                    {% if img %}
                        <img src="{{asset('images/'~img) }}">
                    {% else %}
                        <img src="../images/111.jpg">
                    {% endif %}
                    </td>
                    <td>{{show.studenId}}</td>
                    <td>{{show.studenName}}</td>
                    <td>{{show.clubName}}</td>
                    <td>{{show.clubId}}</td>

                    <td>
                    {% if show.memberRole == 0 %}
                        Leader
                    {% elseif show.memberRole == 1 %}
                        Vice Leader
                    {% elseif show.memberRole == 2 %}
                        Cashier
                    {% elseif show.memberRole == 3 %}
                        Member
                    {% endif %}
                    </td>
                    
                    <td>
                        <a href="/editMember/{{show.id}}/{{show.studenId}}"><i class="bi bi-pencil-square"></i></a>
                        <a href="/deleteMember/{{show.id}}"><i class="bi bi-x-square"></i></a>
                    </td>
                </tr>
                
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>


        {% include 'footer.html.twig' %}
{% endblock %}

